In [8]:
print("Shrutam Jagdish Bhoir Roll no.37 Div-B DEP- EXTC""WEEK 3 ASSIGNMENT",sep="---")

Shrutam Jagdish Bhoir Roll no.37 Div-B DEP- EXTCWEEK 3 ASSIGNMENT

In [ ]:
class MyClass:
  b = 50

In [11]:
class MyNewClass:
    '''This is a docstring. I have created a new class'''
    pass

In [12]:
class Book:
    def __init__(self, title, quantity, author, price):
        self.title = title
        self.quantity = quantity
        self.author = author
        self.price = price

In [47]:
book1 = Book('Book 1', 12, 'Author 1', 170)
book2 = Book('Book 2', 18, 'Author 2', 260)
book3 = Book('Book 3', 28, 'Author 3', 370)

In [48]:
print(book1)
print(book2)
print(book3)

Book: Book 1, Quantity: 12, Author: Author 1, Price: 170
Book: Book 2, Quantity: 18, Author: Author 2, Price: 260
Book: Book 3, Quantity: 28, Author: Author 3, Price: 370

In [15]:
class Book:
    def __init__(self, title, quantity, author, price):
        self.title = title
        self.quantity = quantity
        self.author = author
        self.price = price

    def __repr__(self):
        return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, Price: {self.price}"


book1 = Book('Book 1', 12, 'Author 1', 120)
book2 = Book('Book 2', 18, 'Author 2', 220)
book3 = Book('Book 3', 28, 'Author 3', 320)

print(book1)
print(book2)
print(book3)

Book: Book 1, Quantity: 12, Author: Author 1, Price: 120
Book: Book 2, Quantity: 18, Author: Author 2, Price: 220
Book: Book 3, Quantity: 28, Author: Author 3, Price: 320

In [57]:
class bank:
    def traansaction(self):
        print("Total transaction value: ")

    def account_opening(self):
        print("This will show you your deposited account:")

    def deposite(self):
        print("deposited account")

    def test(self):
        print("this is test from bank")

class HDFC_bank():
    def hdfc_to_kotak(self):
        print("This is hdfc to kotak")

    def test(self):
        print("this is test from HDFC")

class iNeuron():
    def account_status_kotak(self):
        print("This is iNeuron")

class ICICI(HDFC_bank, bank, iNeuron):
    def icici(self):
        print("indepedent")


i=ICICI()

#i.hdfc_to_kotak()
#i.traansaction()
#i.account_opening()
#i.deposite()
#i.kotak()
#i.test()
#i.account_status_kotak()

This is hdfc to kotak

In [58]:
class bank:
    def traansaction(self):
        print("Total transaction value: ")

    def account_opening(self):
        print("This will show you your deposited account:")

    def deposite(self):
        print("deposited account")

    def test(self):
        print("this is test from bank")

class HDFC_bank():
    def hdfc_to_kotak(self):
        print("This is hdfc to kotak")

    def test(self):
        print("this is test from HDFC")

class iNeuron():
    def account_status_kotak(self):
        print("This is iNeuron")

class ICICI(HDFC_bank, bank, iNeuron):
    def icici(self):
        print("indepedent")


i=ICICI()

#i.hdfc_to_kotak()
i.traansaction()
#i.account_opening()
#i.deposite()
#i.kotak()
#i.test()
#i.account_status_kotak()

Total transaction value:

In [59]:
class bank:
    def traansaction(self):
        print("Total transaction value: ")

    def account_opening(self):
        print("This will show you your deposited account:")

    def deposite(self):
        print("deposited account")

    def test(self):
        print("this is test from bank")

class HDFC_bank():
    def hdfc_to_kotak(self):
        print("This is hdfc to kotak")

    def test(self):
        print("this is test from HDFC")

class iNeuron():
    def account_status_kotak(self):
        print("This is iNeuron")

class ICICI(HDFC_bank, bank, iNeuron):
    def icici(self):
        print("indepedent")


i=ICICI()

#i.hdfc_to_kotak()
#i.traansaction()
i.account_opening()
#i.deposite()
#i.kotak()
#i.test()
#i.account_status_kotak()

This will show you your deposited account:

In [60]:
class bank:
    def traansaction(self):
        print("Total transaction value: ")

    def account_opening(self):
        print("This will show you your deposited account:")

    def deposite(self):
        print("deposited account")

    def test(self):
        print("this is test from bank")

class HDFC_bank():
    def hdfc_to_kotak(self):
        print("This is hdfc to kotak")

    def test(self):
        print("this is test from HDFC")

class iNeuron():
    def account_status_kotak(self):
        print("This is iNeuron")

class ICICI(HDFC_bank, bank, iNeuron):
    def icici(self):
        print("indepedent")


i=ICICI()

#i.hdfc_to_kotak()
#i.traansaction()
#i.account_opening()
i.deposite()
#i.kotak()
#i.test()
#i.account_status_kotak()

deposited account

In [63]:
class bank:
    def traansaction(self):
        print("Total transaction value: ")

    def account_opening(self):
        print("This will show you your deposited account:")

    def deposite(self):
        print("deposited account")

    def test(self):
        print("this is test from bank")

class HDFC_bank():
    def hdfc_to_kotak(self):
        print("This is hdfc to kotak")

    def test(self):
        print("this is test from HDFC")

class iNeuron():
    def account_status_kotak(self):
        print("This is iNeuron")

class kotak(HDFC_bank, bank, iNeuron):
    def kotak(self):
        print("indepedent")


i=kotak()
#i.hdfc_to_kotak()
#i.traansaction()
#i.account_opening()
#i.deposite()
i.kotak()
#i.test()
#i.account_status_kotak()

indepedent

In [64]:
class bank:
    def traansaction(self):
        print("Total transaction value: ")

    def account_opening(self):
        print("This will show you your deposited account:")

    def deposite(self):
        print("deposited account")

    def test(self):
        print("this is test from bank")

class HDFC_bank():
    def hdfc_to_kotak(self):
        print("This is hdfc to kotak")

    def test(self):
        print("this is test from HDFC")

class iNeuron():
    def account_status_kotak(self):
        print("This is iNeuron")

class ICICI(HDFC_bank, bank, iNeuron):
    def icici(self):
        print("indepedent")


i=ICICI()

#i.hdfc_to_kotak()
#i.traansaction()
#i.account_opening()
#i.deposite()
#i.kotak()
i.test()
#i.account_status_kotak()

this is test from HDFC

In [66]:
#using __init__ function

class Person:
    
 def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Shrutam", 20)

print(p1.name)
print(p1.age)

Shrutam
20

In [74]:
#object methods
class Person:
 def __init__(self, name, age):
    self.name = name
    self.age = age
    
#Objects can also contain methods. Methods in objects are functions that belong to the object.
#Let us create a method in the Person class:


   
 def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Shrutam", 20)
p1.myfunc()

Hello my name is Shrutam

In [72]:
#The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.
class Person:
    
 def __init__(mysillyobject, name, sirname):
    mysillyobject.name = name
    mysillyobject.sirname = sirname

 def myfunc(abc):
    print("Hello my name is " + abc.name + "and surname is " + abc.sirname )

p1 = Person("Shrutam ", "Bhoir")
p1.myfunc()

Hello my name is Shrutam and surname is Bhoir

In [86]:
class Employee:
   'Common base class for all employees'
   empCount = 0 
     
  def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empCount += 1
   def displayCount(self):
        print( "Total Employee %d" % Employee.empCount)

     def displayEmployee(self):
            print ("Name : ", self.name,  ", Salary: ", self.salary)


emp1 = Employee("ram", 99000)

emp2 = Employee("sham", 80000)

emp3 = Employee("kam", 100000)

emp4 = Employee("shrutam", 999999999)

emp5 = Employee("sumit", 1000500)

emp1.displayEmployee()
emp2.displayEmployee()
emp3.displayEmployee()
emp4.displayEmployee()
emp5.displayEmployee()
print ("Total Employee %d" % Employee.empCount)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [118]:
Overview of OOP Terminology
Class − A user-defined prototype for an object that defines a set of attributes that characterize any object of the class. The attributes are data members (class variables and instance variables) and methods, accessed via dot notation.

Class variable − A variable that is shared by all instances of a class. Class variables are defined within a class but outside any of the class's methods. Class variables are not used as frequently as instance variables are.

Data member − A class variable or instance variable that holds data associated with a class and its objects.

Function overloading − The assignment of more than one behavior to a particular function. The operation performed varies by the types of objects or arguments involved.

Instance variable − A variable that is defined inside a method and belongs only to the current instance of a class.

Inheritance − The transfer of the characteristics of a class to other classes that are derived from it.

Instance − An individual object of a certain class. An object obj that belongs to a class Circle, for example, is an instance of the class Circle.

Instantiation − The creation of an instance of a class.

Method − A special kind of function that is defined in a class definition.

Object − A unique instance of a data structure that's defined by its class. An object comprises both data members (class variables and instance variables) and methods.

Operator overloading − The assignment of more than one function to a particular operator.

SyntaxError: invalid syntax (399469411.py, line 1)

In [23]:
class NumList:
    def __init__(self):
        self.__list = [] 
    
    def add_value(self, val):
        self.__list.append(val)
    
    def remove_value(self):
        rv = self.__list[-1]
        del self.__list[-1]
        return rv
    
    def print_list(self):
        return self.__list

list01 = NumList()
print('Initial list of values of list01:', list01.print_list())
list01.add_value(2)
list01.add_value(20)
list01.add_value(44)
list01.add_value(12)
print('Updated list after adding values to it:', list01.print_list())
val = list01.remove_value()
print('Updated list after removing value %s is: ' % (val), list01.print_list())

Initial list of values of list01: []
Updated list after adding values to it: [2, 20, 44, 12]
Updated list after removing value 12 is:  [2, 20, 44]

In [24]:
list02 = NumList()
print('Initial list of values list02:', list02.print_list())
list02.add_value(2000)
list02.add_value(500)
list02.add_value(44444)
list02.add_value(122222)
print('Updated list after adding values to it:', list02.print_list())
val = list02.remove_value()
print('Updated list after removing value %s is: ' % (val), list02.print_list())

Initial list of values list02: []
Updated list after adding values to it: [2000, 500, 44444, 122222]
Updated list after removing value 122222 is:  [2000, 500, 44444]

In [87]:
# Class creation
class Car:
  # Initializer Method
  def __init__(self):
    # Instance variables
    self.color = 'Black'
    self.fuel_type = 'Petrol'
  # Creating a class method
  @classmethod
  def details(cls, color, fuel_type):
    print("This is a {} car of colour {}".format(fuel_type, color))
  # Creating a class method 
  @staticmethod
  def ecofriendly(fuel_type):
    if fuel_type.lower()=='electric':
      print("This car is ecofriendly!")
    else:
      print("This car is not ecofriendly!")
# Object Creation
SUV = Car()
SUV.details('green', 'Electric')
SUV.ecofriendly('Electric')

This is a Electric car of colour green
This car is ecofriendly!

In [53]:
# Parent Class
class Vehicle:
  def __init__(self):
    self.color = 'green'
  def fuel_type(self):
    print("This is an Electric Vehicle")
# Child Class
class Bike(Vehicle):
  def __init__(self):
    # Inherit the initializer method of parent class
    super().__init__()
  
  # Method to use the attributes of parent class
  def details(self):
    print("The color of this Bike is :", self.color)
# Object for child class
Superbike = Bike()
# Access the method of child class
Superbike.details()

The color of this Bike is : green

In [102]:
class car:
    def __init__(self, milage, year, make, model,engineno):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = model
        self.engineno = engineno

In [103]:
nano1 = car(13, 2022, "audi", "sass", 2332)
audiq71 = car(9, 2020, "audi","q7",2342342)
nano2 = car(13, 2022, "weew", "sass", 2332)
audiq72 = car(11, 2021, "weqq","qweq",2342342)
nano3 = car(13, 2022, "weew", "sass", 2332)
audiq73 = car(11, 2021, "weqq","qweq",2342342)
nano4 = car(13, 2022, "weew", "sass", 2332)
audiq74 = car(11, 2021, "weqq","qweq",2342342)

In [105]:
audiq71 = car(9, 2020, "audi","q7",2342342)

In [106]:
nano1.make

'audi'

In [107]:
audiq71.model

'q7'

In [111]:
class car:
    def __init__(a, m, y, ma, mo,en):
        a.milage = m
        a.year = y
        a.make = ma
        a.model = mo
        a.engineno = en
    
    def age(self, current_year):
        return current_year - self.year
    
    def milage1(self):
        print("print a milage of car : ", self.milage)
        #return self.milage
    
    def __str__(c):
        return "this is my car class I have created"

In [112]:
audiq711 = car(9, 2021, "audi","q7",2342342)

In [113]:
audiq711.milage

9

In [114]:
audiq711.age(2023)

2

In [117]:
nano67 = car(20, 2022, "audi", "q7", 232323)